{% load pybb_tags i18n %}

{% if forum_list %}
    <table class="table {% if category %}topic-list{% elif parent_forum %}topic_list_child{% endif %}">
        <thead>
            <tr class="forum-row head-row" >
                <th class="forum-name" colspan="4" style="padding: 4px 10px; border: none;">
                    {% trans "Forum" %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forum_list|pybb_forum_unread:user %}
            <tr class="topic-row">
                <td class="topic-name {% if forum.unread %} forum-unread{% endif %} " style="vertical-align: middle;">
                    <li class="upper_li">
                        <div class="state-indicator"></div>
                        <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> {% if forum.hidden %}[{% trans "Hidden" %}]{% endif %}
                    </li>
                    <li class="bottom_li user_li">
                        {{ forum.description|safe }}&nbsp;
                    </li>
                </td>
                <td class="topic-post-count" style="vertical-align: middle;">
                    <li class="upper_li">{{ forum.topic_count }} topic{{ forum.topic_count|pluralize }}</li>
                    <li class="bottom_li">{{ forum.post_count }} post{{ forum.post_count|pluralize }}</li>
                </td>
                <td class="topic_avatar" style="vertical-align: middle;">
                    {% if forum.last_post.user %}
                        {% include "pybb/avatar3.html" with user=forum.last_post.user %}
                    {% endif %}
                </td>
                <td class="topic-last-post" style="vertical-align: middle;">
                    {% if forum.last_post.user %}
                        <li class="upper_li last_user_li topic_li"><a href="{{ forum.last_post.topic.get_absolute_url }}" title="{{ forum.last_post.topic.name }}">{{ forum.last_post.topic.name|truncatechars:34 }}</a></li>
                        <li class="bottom_li bottom_user_li"><a href="/forum/users/{{ forum.last_post.user }}/">{{ forum.last_post.user }}</a> on {% include "pybb/forum_last_update_info.html" %}</li>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            {% if category %}
                <h3>{% trans "No forums created" %}</h3>
                <a href="{% url 'admin:pybb_forum_add' %}">{% trans "Add forum now" %}</a>
            {%  endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}