{% extends 'home/base_page.html' %}

{% block title %}
    <title>Vin la Cvicek</title>
{% endblock %}

{% block navigation %}
    {% if not user.is_authenticated %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, Guest</div></li>
        <li><a href="/account/signup">Register</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% else %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, {{ user.username }}</div></li>
        <li><a href="/account/logout">Logout</a></li>
        <li><a href="/account/settings">Settings</a> </li>
        {% if group == 'Officer' %}
            <li><a href="/admin">Admin</a> </li>
        {% endif %}
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="application_wrapper">
        <div class="guild_info_info">
            <p style="font-size: 33px;"><b>About Vin la Cvicek</b></p>
        </div>
        <div class="guild_info">
            We are always looking for exceptional players of all classes and specs to reinforce our roster.<br><br>

            Vin la Cvicek has been around since 2005 and we pride ourselves on being one of the oldest guilds.
            We used to be Slovenian only, but are now international and our roster includes players from all
            nationalities.<br><br>

            We expect and demand the very best from all of our players. Before you apply make sure you have great
            understanding of the class you will be playing, that you are up to date with the current theorycrafting
            and can fully answer any questions we have regarding the choices you have made with your character.
            Make sure you have the dedication and motivation to keep pushing it. Players should also be mature
            enough to take criticism when it is deserved. Raid spots are earned, not given. If you think you have
            what it takes, in return you can expect to become part of a guild which loves raiding, a strong community
            of like-minded individuals all working toward the same goal.<br><br>

            <span style="font-size: 20px"><b>Communication:</b></span><br>
            We use TeamSpeak.<br><br>

            <span style="font-size: 20px"><b>Raiding Schedule:</b></span><br>
            Monday: 19:00 – 22:30<br>
            Wednesday: 19:00 – 22:30<br>
            Thursday: 19:00 – 22:30<br><br>

            <a href="http://www.wowprogress.com/guild/eu/draenor/Vin+la+Cvicek">Our wowprogress page.</a><br><br>

            For any additional information, please contact one of our officers ingame (Rapiu, Frostmaster, Dotftw, Bishi).
        </div>
        <div class="application_info">
            <p style="font-size: 33px;"><b>Application process</b></p>
            <p>Read about applying <a href="http://www.vinlacvicek.com/forum/topic/47/">here</a>.</p>
        </div>
    </div>

{% endblock %}