{% extends 'home/base_page.html' %}

{% block title %}
    <title>Vin la Cvicek</title>
{% endblock %}

{% block navigation %}
    {% if not user.is_authenticated %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, Guest</div></li>
        <li><a href="/account/signup">Register</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% else %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, {{ user.username }}</div></li>
        <li><a href="/account/logout">Logout</a></li>
        <li><a href="/account/settings">Settings</a> </li>
        {% if group == 'Officer' %}
            <li><a href="/admin">Admin</a> </li>
        {% endif %}
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="application_wrapper">
        <div class="guild_info_info">
            <p style="font-size: 20px;"><u><b>About Vin la Cvicek:</b></u></p>
        </div>
        <div class="guild_info">
            We are always looking for exceptional players of all classes and specs to reinforce our roster.<br><br>

            Vin la Cvicek has been around since 2005 and we pride ourselves on being one of the oldest guilds.
            We used to be Slovenian only, but are now international and our roster includes players from all
            nationalities.<br><br>

            We expect and demand the very best from all of our players. Before you apply make sure you have great
            understanding of the class you will be playing, that you are up to date with the current theorycrafting
            and can fully answer any questions we have regarding the choices you have made with your character.
            Make sure you have the dedication and motivation to keep pushing it. Players should also be mature
            enough to take criticism when it is deserved. Raid spots are earned, not given. If you think you have
            what it takes, in return you can expect to become part of a guild which loves raiding, a strong community
            of like-minded individuals all working toward the same goal.<br><br>

            Communication:<br>
            We use Mumble.<br><br>

            Raiding Schedule:<br>
            Tuesday: 19:30 – 23:00<br>
            Wednesday: 19:30 – 23:00<br>
            Sunday: 19:30 – 23:00<br><br>

            For any additional information, please contact one of our officers ingame (Frostmaster, Bishi, Rapiu).
        </div>
        <div class="application_info">
            <p style="font-size: 20px;"><u><b>Application process:</b></u></p>
            <p>The following is an application template. Copy/paste the template, fill it out and open a new
            thread in the appropriate <a href="/forum/topics/2/">forum</a> with the subject: <br> "Application: Myname (myspec myclass)."</p>
        </div>
        <div class="application_text">
            <p><b>About Yourself:</b></p>
            <p>Name:</p>
            <p>Age:</p>
            <p>Gender:</p>
            <p>Country:</p>
            <p>Occupation:</p>
            <p><b>Your computer:</b></p>
            <p>System specifications:</p>
            <p>Internet connection (use <a href="http://www.speedtest.net ">speedtest</a>):</p>
            <p>How often do you disconnect?</p>
            <p>Do you have a microphone?</p>
            <p><b>Character information:</b></p>
            <p>Character name:</p>
            <p>Class:</p>
            <p>Spec:</p>
            <p>Armory Link:</p>
            <p>Off Spec (if any):</p>
            <p><b>Raiding and general questions:</b></p>
            <p>Raiding schedule and IRL (will our raiding schedule fit your rl?):</p>
            <p>Do you have any alts:</p>
            <p>Previous expansion experience:</p>
            <p>Mindset (Describe your attitude on progress/farm raids):</p>
            <p>Do you know anyone from the guild?</p>
            <p>Screenshot of your UI while raiding (use <a href="http://www.imgur.com/">Imgur</a>):</p>
            <p><b>Previous guilds:</b></p>
            <p>Previous guilds (which guilds, what roles):</p>
            <p>Reasons for leaving:</p>
            <p>Anything you wish to add?</p>
        </div>
    </div>

{% endblock %}