{% extends 'home/base_page.html' %}
{% load url from future %}
{% load pybb_tags i18n %}

{% block title %}
    Chat archive
{%  endblock %}


{% block content %}
<div class="chatterbox_archive">
            {% for chat in chatterbox %}
                <div class="chat_line" id="chat-{{ chat.id }}">
                    <div class="author_container">
                        <div style="height: 16px; width: 16px;">
                            {% include 'pybb/avatar2.html' with user=chat.author %}
                        </div>
                        <div class="chat_author">
                            <i><a href="{% url 'pybb:user' chat.author %}">{{ chat.author }}</a></i> on {{ chat.pub_date|date:"d. M. Y H:i" }}
                        </div>
                    </div>
                    <div class="chat_body">
                        {{ chat.body|urlize }}
                    </div>
                    {% if user.username == chat.author.username or  group == 'Officer' %}
                        <div class="chat_delete">
                            <a id="delete-chat-{{chat.id}}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

{% endblock %}

{% block pagination %}
    <div class="pagination">
        {% if chatterbox.has_previous %}
              <span class="page"><a href="?page={{ chatterbox.previous_page_number }}">«</a></span>
        {% endif %}
        {% for page in chatterbox.paginator.page_range %}
            {% ifequal page chatterbox.number %}
                <span class="current">{{ page }}</span>
            {% else %}
                <span class="page"><a href="?page={{ page }}">{{ page }}</a></span>
            {% endifequal %}
        {% endfor %}
        {% if chatterbox.has_next %}
            <span class="page"><a href="?page={{ chatterbox.next_page_number }}">»</a></span>
        {% endif %}
    </div>
{% endblock %}