{% extends 'home/base_page.html' %}

{% block title %}
    Delete news article
{% endblock %}

{% block content %}
    <div class="form_container">
        <div>
            Are you really sure you want to delete "{{ newsArticle.title }}"?
        </div>
        <form action="{% url 'home:delete_article' newsArticle.id %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="form_button"><input type="submit" name="submit" value="Delete Article" class="submit_button"></div>
        </form>
    </div>
{% endblock %}