{% extends 'home/base_page.html' %}

{% load i18n %}
{% load account_tags %}
{% load pybb_tags i18n %}
{% load staticfiles %}

{% block content %}
    <div class="article_wrapper">
        {% for newsArticle in newsArticles %}
            <div class="article {% if forloop.last %} last_article {% endif %}" id="article-{{ newsArticle.id }}">
                <div class="article_title"><a href="{% url 'home:article' newsArticle.id %}"><div>{{ newsArticle.title }}</div></a></div>
                <div class="article_author"> Posted by <i><a href="{% url 'pybb:user' newsArticle.author %}">{{ newsArticle.author }}</a></i> on {{ newsArticle.pub_date|custom_date:"long" }}</div>
                {% if newsArticle.thumbnail %}
                    <div class="article_thumbnail">
                        <a href="{% url 'media' newsArticle.thumbnail %}">
                            <img src="{% url 'media' newsArticle.thumbnail %}">
                        </a>
                    </div>
                {% endif %}
                <p class="article_body">{{ newsArticle.body_html | truncatewords_html:500 | safe }}</p>
                <p class="comment_count">
                    {% for comment, count in comment_count.items %}
                        {% if comment == newsArticle.id %}
                            <a href="{% url 'home:article' newsArticle.id %}">{{ count }} comment{{ count|pluralize }}</a>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="sidebar">
        {% include "home/sidebar/recruitment.html" %}

        {% if user.is_authenticated %}
            {% include "home/sidebar/latest_topics.html" %}
        {% else %}
            {% include "home/sidebar/raid_progress.html" %}
        {% endif %}

        {% include "home/sidebar/chatterbox.html" %}

        {% if user.is_authenticated %}
            {% include "home/sidebar/raid_progress.html" %}
        {% else %}
            {% include "home/sidebar/latest_topics.html" %}
        {% endif %}

        {% include "home/sidebar/warcraftlogs.html" %}

        {% include "home/sidebar/wowtoken.html" %}

        {% include "home/sidebar/calculator.html" %}
    </div>
{% endblock %}
