{% extends 'home/base_page.html' %}

{% load i18n %}
{% load account_tags %}
{% load url from future %}
{% load pybb_tags i18n %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
    <div class="content_wrapper">
        <div class="article_wrapper">
            {% for newsArticle in newsArticles %}
                <div class="article_border">
                    <div class="article">
                        <div class="article_title"><a href="/articles/get/{{ newsArticle.id }}/"><div>{{ newsArticle.title }}</div></a></div>
                        <div class="article_author"> Posted by <i><a href="http://www.vinlacvicek.com/forum/users/{{ newsArticle.author }}/">{{ newsArticle.author }}</a></i> on {{ newsArticle.pub_date|date:"F d. Y H:i" }}</div>
                        {% if newsArticle.thumbnail %}
                            <div class="article_thumbnail"><a href="/media/{{newsArticle.thumbnail}}">
                                <img src="/media/{{newsArticle.thumbnail}}" width="792"/></a></div>
                        {% endif %}
                        <p class="article_body">{{ newsArticle.body_html | truncatewords_html:500 | safe }}</p>
                        <p class="comment_count">
                            {% for comment, count in comment_count.items %}
                                {% if comment == newsArticle.id %}
                                    <a href="/articles/get/{{ newsArticle.id }}/">{{ count }} comment{{ count|pluralize }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="sidebar">
        {% include "home/recruitment.html" %}

        {% if user.is_authenticated %}
            {% include "home/latest_topics.html" %}
        {% else %}
            {% include "home/raid_progress.html" %}
        {% endif %}

        {% include "home/chatterbox.html" %}

        {% if user.is_authenticated %}
            {% include "home/raid_progress.html" %}
        {% else %}
            {% include "home/latest_topics.html" %}
        {% endif %}

        {% include "home/warcraftlogs.html" %}

        {% include "home/wowtoken.html" %}

        {% include "home/calculator.html" %}
    </div>
{% endblock %}

