{% load url from future %}
{% load pybb_tags i18n %}


{% block content %}
<table class="table topic-list">
    <thead>
        <tr class="topic-row head-row">
            <th class="topic-name-first">
                {% trans "Latest forum posts:" %}
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
    {% for topic in topic_list|pybb_topic_unread:user %}
        <tr class="topic-row {% if topic.sticky %} sticky {% endif %} {% cycle "odd" "even" %} {% if topic.on_moderation %} on-moderation {% endif %}">
            <td class="topic-name{% if topic.unread %} topic-unread{% endif %}">
                <div class="state-indicator"></div>
                <b><a href="{{ topic.get_absolute_url }}">{{ topic.name|truncatechars:30 }}</a></b>
                <a href="{{ topic.get_absolute_url }}?first-unread=1" class="first-unread-post-link" title="{% trans 'Go to first unread post' %}">⇨</a>
                {% comment %}
                {% if topic.sticky %} &nbsp;[{% trans "Sticky" %}] {% endif %}
                {% if topic.closed %} &nbsp;[{% trans "Closed" %}] {% endif %}
                {% endcomment %}
                {% with topic|pybb_topic_inline_pagination as pages %}

                {% endwith %}
            </td>

        </tr>
        <td class="topic-last-post">
                <i><a href="http://www.vinlacvicek.com/forum/users/{{ topic.last_post.user }}/">{{ topic.last_post.user }}</a></i> - {% if topic.updated %}{{ topic.updated|date:"M d.Y H:i" }}{% endif %}
            </td>
    {% endfor %}
    </tbody>
</table>

{% endblock %}