{% extends 'home/base_page.html' %}

{% block title %}
    <title>Articles</title>
{% endblock %}

{% block navigation %}
    {% if not user.is_authenticated %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, Guest</div></li>
        <li><a href="/account/signup">Register</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% else %}
    <div class="navigation">
        <li class="in_menu">Welcome, {{ user.username }}</li>
        <li><a href="/account/logout">Logout</a></li>
        <li><a href="/account/settings">Settings</a> </li>
        {% if group == 'Officer' %}
            <li><a href="/admin">Admin</a> </li>
        {% endif %}
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <script>
        function showDiv() {
            document.getElementById('edit_form').style.display = "block";
            document.getElementById('article_edit_button').style.display = "none";
        }
    </script>
    <div class="article_wrapper_articles">
        <div class="show_article">
            <h2 class="article_title"><a href="/articles/get/{{ newsArticle.id }}/">{{ newsArticle.title }}</a></h2>

            {% if newsArticle.thumbnail %}
                <p class="article_thumbnail"><a href="/media/{{newsArticle.thumbnail}}">
                    <img src="/media/{{newsArticle.thumbnail}}" width="1106"/></a></p>
            {% endif %}

            <p class="article_body">{{ newsArticle.body }}</p>

            {% if newsArticle.author %}
                <p class="article_published">Published by {{ newsArticle.author }} on {{ newsArticle.pub_date }}</p>
            {% endif %}
        </div>
        {% if user.username == newsArticle.author.username %}
            <input type="button" name="edit" value="Edit" id="article_edit_button" onclick="showDiv()"/>
            <div id="edit_form" style="display: none">
                <form action="/articles/get/{{ newsArticle.id }}/" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    {% for field in form %}
                        <div class="form_name">{{ field.label_tag }}</div>
                        <div class="form_input">{{ field }}</div>
                        <div class="form_error">{{ field.errors }}</div>
                    {% endfor %}
                    <div class="form_button"><input type="submit" name="submit" value="Edit article"></div>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}
