{% extends 'home/base_page.html' %}

{% block title %}
    <title>Articles</title>
{% endblock %}

{% block navigation %}
    {% if not username %}
    <div class="navigation">
        <li class="in_menu">Welcome, Guest</li>
        <li><a href="/account/signup">Register</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/forum">Forum</a></li>
    </div>
    {% else %}
    <div class="navigation">
        <li class="in_menu">Welcome, {{ username }}</li>
        <li><a href="/account/logout">Logout</a></li>
        <li><a href="/account/settings">Settings</a> </li>
        {% if group == 'Officer' %}
            <li><a href="/articles/create">Create</a></li>
        {% endif %}
        <li><a href="/forum">Forum</a></li>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="article_wrapper_articles">
        {% for newsArticle in newsArticles %}
            <div class="article">
                <h2 class="article_title"><a href="/articles/get/{{ newsArticle.id }}/">{{ newsArticle.title }}</a></h2>

                {% if newsArticle.thumbnail %}
                    <p class="article_thumbnail"><a href="/media/{{newsArticle.thumbnail}}">
                        <img src="/media/{{newsArticle.thumbnail}}" width="966"/></a></p>
                {% endif %}

                <p class="article_body">{{ newsArticle.body | truncatewords_html:500 }}</p>

                {% if newsArticle.author %}
                    <p class="article_published">Published by {{ newsArticle.author }} on {{ newsArticle.pub_date }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
