{% extends 'home/base_page.html' %}

{% block title %}
    Articles
{% endblock %}

{% block content %}
    <div class="article_wrapper_articles">
        {% for newsArticle in newsArticles %}
            <div class="article {% if forloop.last %} last_article {% endif %}" id="article-{{ newsArticle.id }}">
                <div class="article_title"><a href="{% url 'home:article' newsArticle.id %}">{{ newsArticle.title }}</a></div>
                <div class="article_author"> Posted by <i><a href="{% url 'pybb:user' newsArticle.author %}">{{ newsArticle.author }}</a></i> on {{ newsArticle.pub_date|date:"d. F Y H:i" }}</div>
                {% if newsArticle.thumbnail %}
                    <div class="article_thumbnail"><a href="/media/{{newsArticle.thumbnail}}">
                    <img src="/media/{{newsArticle.thumbnail}}"/></a></div>
                {% endif %}
                <p class="article_body">{{ newsArticle.body_html | truncatewords_html:500 | safe }}</p>
                <p class="comment_count">
                    {% for comment, count in comment_count.items %}
                         {% if comment == newsArticle.id %}
                            <a href="{% url 'home:article' newsArticle.id %}">{{ count }} comment{{ count|pluralize }}</a>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
        {% if group == 'Officer' %}
            <div class="create_article_button"><input type="button" name="delete" value="Create article" onclick="location.href = '/articles/create'" class="submit_button"/></div>
        {% endif %}
    </div>
{% endblock %}
