{% extends 'home/base_page.html' %}

{% block title %}
    <title>Articles</title>
{% endblock %}

{% block navigation %}
    {% if not user.is_authenticated %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, Guest</div></li>
        <li><a href="/account/signup">Register</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% else %}
    <div class="navigation">
        <li class="in_menu">Welcome, {{ user.username }}</li>
        <li><a href="/account/logout">Logout</a></li>
        <li><a href="/account/settings">Settings</a> </li>
        {% if group == 'Officer' %}
            <li><a href="/admin">Admin</a> </li>
        {% endif %}
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <script>
        function showDiv() {
            document.getElementById('edit_form').style.display = "block";
            document.getElementById('article_edit_button').style.display = "none";
            document.getElementById('article_delete_button').style.display = "none";
        }
    </script>
    <div class="article_wrapper_articles">
        <div class="show_article">
            <h2 class="article_title"><a href="/articles/get/{{ newsArticle.id }}/">{{ newsArticle.title }}</a></h2>
            <div class="article_author"> Posted by <i><a href="http://www.vinlacvicek.com/forum/users/{{ newsArticle.author }}/">{{ newsArticle.author }}</a></i> on {{ newsArticle.pub_date|date:"F d. Y H:i" }}</div>

            {% if newsArticle.thumbnail %}
                <p class="article_thumbnail"><a href="/media/{{newsArticle.thumbnail}}">
                    <img src="/media/{{newsArticle.thumbnail}}" width="1106"/></a></p>
            {% endif %}

            <p class="article_body">{{ newsArticle.body_html | safe }}</p>
        </div>
        {% if user.username == newsArticle.author.username or  group == 'Officer' %}
            <input type="button" name="edit" value="Edit" id="article_edit_button" onclick="showDiv()" class="submit_button"/>
            <input type="button" name="delete" value="Delete" id="article_delete_button" onclick="location.href = '/articles/delete/{{ newsArticle.id }}/'" class="submit_button"/>
            <div id="edit_form" style="display: none">
                <form action="/articles/get/{{ newsArticle.id }}/" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    {% for field in form %}
                        <div class="form_name">{{ field.label_tag }}</div>
                        <div class="form_input">{{ field }}</div>
                        <div class="form_error">{{ field.errors }}</div>
                    {% endfor %}
                    <div class="form_button"><input type="submit" name="submit" value="Edit article" class="submit_button"></div>
                </form>
            </div>
        {% endif %}
        <div class="comments">

            <div class="comment_statement">
            Comments:
            </div>
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment_author">
                            <i><a href="http://www.vinlacvicek.com/forum/users/{{ comment.author }}/">{{ comment.author }}</a></i> on {{ comment.pub_date|date:"M d. Y H:i" }}
                        </div>
                        <div class="comment_body">
                            {{ comment.body }}
                        </div>
                        {% if user.username == comment.author.username or  group == 'Officer' %}
                            <div class="comment_delete">
                                <a href="/deletecomment/{{ comment.id }}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                 <div class="comment">
                        <div class="comment_no_comments">
                            There are no comments yet.
                        </div>
                 </div>
            {% endif %}
        </div>
        {% if  user.is_authenticated %}
            <div class="comment_form">
                <div class="comment_form_container">
                    <form action="/articles/get/{{ newsArticle.id }}/" method="post" enctype="multipart/form-data"> {% csrf_token %}
                        {% for field in form_comments %}
                            <div class="form_name"><i>Add a comment:</i></div>
                            <div class="form_input">{{ field }}</div>
                            <div class="form_error">{{ field.errors }}</div>
                        {% endfor %}
                        <div class="comment_form_button"><input type="submit" name="comment_form" value="Send" class="submit_button"></div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="comment_log_in"><a href="/account/login/">Log in</a> or <a href="/account/signup/">register</a> to comment.</div>
        {% endif %}
    </div>
{% endblock %}
