{% extends 'home/base_page.html' %}
{% load url from future %}
{% load pybb_tags i18n %}

{% block title %}
    <title>VLC Roster</title>
{% endblock %}

{% block navigation %}
    {% if not user.is_authenticated %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, Guest</div></li>
        <li><a href="/account/signup">Register</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% else %}
    <div class="navigation">
        <li><div class="in_menu">Welcome, {{ user.username }}</div></li>
        <li><a href="/account/logout">Logout</a></li>
        <li><a href="/account/settings">Settings</a> </li>
        {% if group == 'Officer' %}
            <li><a href="/admin">Admin</a> </li>
        {% endif %}
        <li><a href="/articles/all">Articles</a></li>
        <li><a class="forum_link" href="/forum">Forum</a></li>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% autoescape off %}
        <table class="roster">
            <thead>
            <tr class="tr_title">
                <th class="td_thumbnail"></th>
                <th class="td_level"><a href="?{% url_replace request 'sort' 'n' %}">Name</a></th>
                <th class="td_level"><a href="?{% url_replace request 'sort' 'l' %}">Level</a></th>
                <th class="td_spec"><a href="?{% url_replace request 'sort' 's' %}">Spec</a></th>
                <th class="td_class"><a href="?{% url_replace request 'sort' 'c' %}">Class</a></th>
                <th class="td_rank"><a href="?{% url_replace request 'sort' 'r' %}">Rank</a></th>
                <th class="td_timestamp"><a href="?{% url_replace request 'sort' 'u' %}">Last Updated</a></th>
                {% comment %}
                <th class="td_thumbnail"></th>
                <th class="td_level">Name</th>
                <th class="td_level">Level</th>
                <th class="td_spec">Spec</th>
                <th class="td_class">Class</th>
                <th class="td_rank">Rank</th>
                <th class="td_timestamp">Last Updated</th>{% endcomment %}
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                {% if member.level > 0 %}
                    <tr>
                        <td class="td_thumbnail"><img src="{{ member.thumbnail }}" height="50px"></td>
                        <td class="td_name"><a href="http://eu.battle.net/wow/en/character/draenor/{{ member.name }}/advanced">{{ member.name }}</a></td>
                        <td class="td_level">{{ member.level }}</td>
                        <td class="td_spec">{{ member.spec }}</td>
                        <td class="td_class">{{ member.player_class_string }}</td>
                        <td class="td_rank">{{ member.rank_string }}</td>
                        <td class="td_timestamp">{{ member.timestamp }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endautoescape %}
{% endblock %}