{% extends 'home/base_page.html' %}
{% load url from future %}
{% load pybb_tags i18n %}

{% block title %}
    TEST PAGE PLEASE IGNORE
{% endblock %}

{% block content %}

    <div class="content_wrapper">
        <div class="article_wrapper">
            {% for newsArticle in newsArticles %}
                <div class="article">
                    <h2 class="article_title"><a href="/articles/get/{{ newsArticle.id }}/">{{ newsArticle.title }}</a></h2>
                    {% if newsArticle.thumbnail %}
                        <p class="article_thumbnail"><a href="/media/{{newsArticle.thumbnail}}">
                            <img src="/media/{{newsArticle.thumbnail}}" width="822"/></a></p>
                    {% endif %}

                    <p class="article_body">{{ newsArticle.body | truncatewords_html:500 }}</p>

                    {% if newsArticle.author %}
                        <p class="article_published">Published by {{ newsArticle.author }} on {{ newsArticle.pub_date }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar_statement">
            Chatterbox:
        </div>
        <div class="chatterbox">
            {% for chat in chatterbox %}
                <div class="chat_line">
                    <div class="chat_author">
                        <i><a href="http://www.vinlacvicek.com/forum/users/{{ chat.author }}/">{{ chat.author }}</a></i> on {{ chat.pub_date }}
                    </div>
                    <div class="chat_body">
                        {{ chat.body }}
                    </div>
                    {% if user.username == chat.author.username or  group == 'Officer' %}
                        <div class="chat_delete">
                            <a href="/articles/test/deletechat/{{ chat.id }}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="chatterbox_form">
            <div class="chatterbox_form_container">
                <form action="/articles/test/" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    {% for field in form %}
                        <div class="chatterbox_form_input">{{ field }}</div>
                    {% endfor %}
                    <div class="chatterbox_form_button"><input type="submit" name="chatterbox_form" value="Send"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}