{% load pybb_tags i18n %}

<div class="sidebar_statement">
    Warcraftlogs:
</div>
<div class="logs">
    {% for logs in logs_list %}
        <div class="log_entity">
            <li class="log_name"><b><a href="https://www.warcraftlogs.com/reports/{{ logs.id }}">{{ logs.title|truncatechars:35 }}</a></b></li>
            <li class="log_date"><i>{{ logs.owner }}</i> - {{ logs.start|unix_to_date }}</li>
        </div>
    {% empty %}
        <div class="token_div">
            No logs available at this time.
        </div>
    {% endfor %}
</div>