amqp==1.4.7
anyjson==0.3.3
bbcode==1.0.24
billiard==3.3.0.20
Django==1.10.4
django-annoying==0.10.3
django-appconf==1.0.2
django-bootstrap-form==3.1
django-compressor==2.1
django-forms-bootstrap==3.0.1
django-precise-bbcode==1.2.6
django-pure-pagination==0.2.1
django-simple-captcha==0.5.3
django-smtp-ssl==1.0
django-user-accounts==1.0.1
kombu==3.0.27
Markdown==2.6
olefile==0.43
Pillow==4.0.0
psycopg2==2.6.2
pytils==0.3
pytz==2014.10
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
sorl-thumbnail==12.3
xlrd==0.9.3
