{% load url from future %}
{% load i18n %}

{{ widget_output }}


<script type="text/javascript">
if(!window.pybb){
    window.pybb = {};
}
if(!window.pybb.get_markitup_settings){
    window.pybb.get_markitup_settings = function() {
        var mySettings = new Array();
        mySettings['previewParserPath'] = '{% url "pybb:post_ajax_preview" %}';
        mySettings['previewPosition'] = 'before';
        mySettings['resizeHandle'] = true;
        mySettings['markupSet'] = [
            {name:'{% trans "Bold" %}', className:"bold", key:'B', openWith:'[b]', closeWith:'[/b]'},
            {name:'{% trans "Italic" %}', className:"italic", key:'I', openWith:'[i]', closeWith:'[/i]'},
            {name:'{% trans "Underline" %}', className:"underline", key:'U', openWith:'[u]', closeWith:'[/u]'},
            {name:'{% trans "Stroke" %}', className:"stroke", key:'S', openWith:'[s]', closeWith:'[/s]'},
            {separator:'---------------' },
            {name:'{% trans "Youtube" %}', className:"youtube", replaceWith:'[youtube][![Url]!][/youtube]'},
            {name:'{% trans "Picture" %}', className:"picture", key:'P', replaceWith:'[img][![Url]!][/img]'},
            {name:'{% trans "Link" %}', key:'L', className:"link", openWith:'[url=[![Url]!]]', closeWith:'[/url]', placeHolder:'{% trans "Your text to link here..." %}'},
            {separator:'---------------' },
            {name:'{% trans "Bulleted list" %}', className:"bulleted_list", openWith:'[list]\n', closeWith:'\n[/list]'},
            {name:'{% trans "Numeric list" %}', className:"numeric_list", openWith:'[list=[![Starting number]!]]\n', closeWith:'\n[/list]'},
            {name:'{% trans "List item" %}', className:"list_item", openWith:'[*] '},
            {separator:'---------------' },
            {name:'{% trans "Quotes" %}', className:"quotes", openWith:'[quote]', closeWith:'[/quote]'},
            {name:'{% trans "Code" %}', className:"core", openWith:'[code]', closeWith:'[/code]'},
            {separator:'---------------' },
            {name:'{% trans "Clean" %}', className:"clean", replaceWith:function(markitup) { return markitup.selection.replace(/\[(.*?)\]/g, "") } },
            {name:'{% trans "Preview" %}', className:"preview", call:'preview' }
        ];
        return mySettings ;
    };
}
</script>
