{% load pybb_tags i18n %}
<div class="sidebar_statement">
    {% if user.is_authenticated %}
        <a href="{% url 'chatterbox_archive' %}">Chatterbox:</a>
    {% else %}
        Chatterbox:
    {% endif %}
</div>
<div class="sidebar_content chatterbox">
    {% for chat in chatterbox %}
        <div class="chat_line" id="chat-{{ chat.id }}">
            <div class="author_container">
                <div style="height: 16px; width: 16px;">
                    {% include 'pybb/avatar2.html' with user=chat.author %}
                </div>
                <div class="chat_author">
                    <i><a href="{% url 'pybb:user' chat.author %}">{{ chat.author }}</a></i> on {{ chat.pub_date|custom_date }}
                </div>
            </div>
            <div class="chat_body">
                {{ chat.body|urlize }}
            </div>
            {% if user.username == chat.author.username or  group == 'Officer' %}
                <div class="chat_delete">
                    <a id="delete-chat-{{chat.id}}">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <div class="chat_archive">
            <a href="{% url 'chatterbox_archive' %}">Archive</a>
        </div>
    {% endif %}
</div>
{% if  user.is_authenticated %}
    <div class="chatterbox_form">
        <div class="chatterbox_form_container">
            <form action="/" method="post" enctype="multipart/form-data"> {% csrf_token %}
                {% for field in form %}
                    <div class="chatterbox_form_input">{{ field }}</div>
                {% endfor %}
                <div class="chatterbox_form_button">
                    <input type="submit" name="chatterbox_form" value="Send" class="submit_button">
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class="chat_log_in">
        <a href="{% url 'account_login' %}">Log in</a> or <a href="{% url 'account_signup' %}">register</a> to use the chat.
    </div>
{% endif %}