{% load url from future %}
{% load pybb_tags i18n %}


<div class="sidebar_statement">
    <a href="{% url 'pybb:topic_latest' %}">Latest forum posts</a>
</div>
<table class="sidebar_content table topic-list">
    <tbody class="tbody">
    {% for topic in topic_list|pybb_topic_unread:user %}
        <tr class="topic-row {% if topic.sticky %} sticky {% endif %} {% cycle "odd" "even" %} {% if topic.on_moderation %} on-moderation {% endif %}">
            <td class="topic-name{% if topic.unread %} topic-unread{% endif %}">
                <div class="latest_upper {% if forloop.first %} first_topic {% endif %}">
                    <div class="state-indicator"></div>
                    <b><a href="{{ topic.get_absolute_url }}" title="{{ topic.name }}">{{ topic.name|truncatechars:30 }}</a></b>
                    <a href="{{ topic.get_absolute_url }}?first-unread=1" class="first-unread-post-link" title="{% trans 'Go to first unread post' %}">➜</a>
                    {% with topic|pybb_topic_inline_pagination as pages %}

                    {% endwith %}
                </div>
                <div class="latest_bottom {% if forloop.last %} last_topic {% endif %}">
                    <i><a href="{% url 'pybb:user' topic.last_post.user %}">{{ topic.last_post.user }}</a></i> - {% if topic.updated %}{{ topic.updated|date:"M d. Y H:i" }}{% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="chat_log_in">
    See all the latest posts <a href="{% url 'pybb:topic_latest' %}">here.</a>
</div>
