{% load i18n %}
{% load account_tags %}
{% load pybb_tags i18n %}
{% load staticfiles %}

<div class="sidebar_statement">
    <a href="http://www.wowprogress.com/guild/eu/draenor/Vin+la+Cvicek">Raid progress:</a>
</div>
<div class="raid_progress_wrapper">
    <div id="accordion">
        {% for raid in raid_progress %}
            <h3>
                <div class="raid {% if forloop.first %} first_raid {% endif %}">
                    <img src="/media/{{ raid.thumbnail }}" width="249px" height="75px">
                    <div class="raid_info">
                        <div class="upper_raid">
                            <span class="raid_difficulty">{{ raid.difficulty }}</span>
                        </div>
                        <div class="bottom_raid">
                            <span class="raid_name">{{ raid.name }}</span>
                            <span class="raid_defeated">{{ raid.defeated_bosses }}/{{ raid.bosses }}</span>
                        </div>
                    </div>
                </div>
            </h3>
            <div>
                {% for boss in raid_bosses %}
                    {% if raid.name == boss.raid_instance.name and raid.difficulty == boss.raid_instance.difficulty %}
                        <div class="boss_names">
                            <span class="boss_name">
                                {{ boss.name }}
                            </span>
                            <span class="is_defeated">
                                {% if boss.defeated %}
                                    <font color="green">Defeated</font>
                                {% else %}
                                    <font color="red">Not defeated</font>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% empty %}
                    Error
                {% endfor %}
            </div>
    {% empty %}
        <div class="token_div">
            No progression available at this time.
        </div>
    {% endfor %}
    </div>
</div>