/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .bold a	{
	background-image:url(images/bold.png);
}
.markItUp .italic a	{
	background-image:url(images/italic.png);
}
.markItUp .underline a	{
	background-image:url(images/underline.png);
}
.markItUp .stroke a	{
	background-image:url(images/stroke.png);
}


.markItUp .picture a	{
	background-image:url(images/picture.png);
}
.markItUp .link a	{
	background-image:url(images/link.png);
}

/*.markItUp .markItUpButton6 a	{*/
	/*background-image:url(images/fonts.png);*/
/*}*/
.markItUp .bulleted_list a	{
	background-image:url(images/list-bullet.png);
}
.markItUp .numeric_list a	{
	background-image:url(images/list-numeric.png);
}
.markItUp .list_item a	{
	background-image:url(images/list-item.png);
}

.markItUp .quotes a	{
	background-image:url(images/quotes.png);
}
.markItUp .core a	{
	background-image:url(images/code.png);
}

.markItUp .youtube a	{
	background-image:url(images/youtube.png);
}
	
.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
    width: 56px;
}