li a{
    color: green;
}

html {
    height: 100%;
}

.element {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

@media screen and (max-width: 1920px){
    body {
        background: black url("images/Illidan1920.jpg") no-repeat top fixed;
    }
}
@media screen and (min-width: 1921px){
    body {
        background: black url("images/Illidan2560.jpg") no-repeat top fixed;
    }
}

a:link {
    color: #0a6aff;
}

a:visited {
    color: #ff455c;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Calibri, sans-serif;
    opacity: 1;
}

.header {
    height: 120px;
    width: 1140px;
    clear: left;
    align-self: center;
    background: #eee;
}

.header_text {
    font-weight: bold;
    font-size: 30px;
    height: 75%;
    line-height: 120px;
    margin-top: -30px
}

.header a{
    text-decoration: none;
    color: black;
}

/*.account_header{*/
    /*border: 1px solid red;*/
    /*height: 25%;*/
    /*text-align: right;*/
    /*margin: 0 17px 0 17px;*/
/*}*/

/*.account_header span{*/
    /*margin-left: 5px;*/
    /*line-height: 30px;*/
/*}*/

.footer {
    height: 100px;
    width: 1140px;
    align-self: center;
    background: #eee;
}

.footer_div {
    font-size: 16px;
}

.content {
    flex: 1;
    width: 1140px;
    align-self: center;
    text-align: left;
    display: flex;
    flex-direction: row;
    border-bottom: none;
    background: #eee;
    padding-bottom: 5px;
}

.sidebar_content{
    margin: 0 17px 0 17px;
    padding: 2px 0 2px 0;
    background: white;
}

.article_wrapper {
    flex-direction: column;
    background: #eee;
    margin: 20px 0px 0 17px;
    width: 75%;
}

.create_article_button{
    margin: 10px 0 15px 0;
}

.article_body{
    line-height: 100%;
}

/*Articles page articles*/
.article_wrapper_articles {
    width: 1106px;
    flex-direction: column;
    margin: 20px 17px 0 17px;
}

.article {
    text-align: justify;
    font-size:16px;
    color:#525253;
	line-height:150%;
    background: #eee;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    margin-bottom: 15px;
}

.one_article{
    border: none;
}

.last_article{
    border: none;
}

.article_title {
    text-align: justify;
    font-size: 40px;
    font-weight: bold;
    height: 55px;
    margin: 0;
    padding: 0 0 0 5px;
    line-height: 55px;
    background: #3C3C3C;
}

.article_title a {
    text-decoration: none;
    color: black;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.article_title div{

}

.article_author {
    font-size: 15px;
    padding: 0 0 0 5px;
    margin-top: -3px;
}

.article_author a{
    text-decoration: none;
    color: #3FAACE;
}

.article_thumbnail {
    margin-top: 10px;
    text-align: center;
}

.article_thumbnail img{
    /*max-height: 800px;*/
    /*max-width: 100%;*/
    width: 100%;
}

.article_body{

}

.comment_count {
    font-size: 13px;
    text-align: right;
}

.comment_count a{
    text-decoration: underline;
    color: #525253;
}

.comment_count :hover{
    color: #3FAACE;
}

/**/

.sidebar {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 25%;
}

.sidebar_statement {
    padding: 5px;
    text-align: center;
    font-size: 22px;
    margin: 20px 17px 0px 17px;
    background-color: #3C3C3C;
    color: white;
}

.sidebar_statement a{
    text-decoration: none;
    color: white;
}

.recruitment {
    display: flex;
    list-style: none;
    flex-direction: column;
    font-size: 18px;
}

.class_entity {
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 2px 5px 2px 5px;
    /*padding: 5px;*/
}

.class_name {
    -webkit-transition: all 1.05s ease-in-out;
    -moz-transition: all 1.05s ease-in-out;
    -ms-transition: all 1.05s ease-in-out;
    -o-transition: all 1.05s ease-in-out;

    text-align: left;
    align-self: center;
    flex-grow: 1;
}
/*
.wrapper .content .sidebar .recruitment .class_entity .class_name:hover {
    text-shadow: 0 0 0.2em #F87;
}
*/
.class_role {
    text-align: right;
    align-self: center;
    padding-left: 5px;
}

.not_needed {
    opacity: 0.15;
}

.class_role:hover {

}

.navigation {
    width: 1140px;
    align-self: center;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    border-top: 1px solid rgba(166, 166, 166, 0.40);
    background: #eee;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    border-left: 1px solid rgba(166, 166, 166, 0.40);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.5s;
    width: 60px;
    font-size: 18px;
    padding: 10px;
}

.forum_link{

}

.in_menu {
    color: black;
    font-size: 18px;
    padding: 10px;
    width: 300px;
    text-align: right;
}

.navigation a:hover {
    background: #e0e0e0;
}

.pagination {
    width: 1140px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    list-style: none;
    border-top: 1px solid rgba(166, 166, 166, 0.40);
    background: #eee;
}

.pagination .page a {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    color: #000000;
}

.page a:hover {
    text-decoration: underline;
}

.current {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
    color: green;
}

.form_container {
    display: flex;
    flex-direction: column;
    width: 1120px;
    padding: 10px;
}

.form_container .form_name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_button {
    margin-top: 20px;
}

.form_container .form_error {

}

.form_input input[type=text], .form_input textarea {
    -webkit-transition: all 0.00s ease-in-out;
    -moz-transition: all 0.00s ease-in-out;
    -ms-transition: all 0.00s ease-in-out;
    -o-transition: all 0.00s ease-in-out;
    outline: none;
    padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid #DDDDDD;
    -moz-transition: none 0s ease 0s;
    max-width: 99.5%;
    max-height: 1000px;
    /*width: 99.5%;*/
    font-family: monospace;
}

.form_input input[type=text]:focus, .form_input textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid rgba(81, 203, 238, 1);
    max-width: 99.5%;
    max-height: 1000px;
    /*width: 99.5%;*/
}

.form_input #id_title {
    width: 250px;
}

.not_found {
    padding: 10px;
}

.topic-unread .state-indicator, .forum-unread .state-indicator {
  background-color: #3FAACE;
}
.state-indicator {
  display: block;
  float: left;
  background-color: #eeeeee;
  height: 10px;
  width: 10px;
  border-radius: 4px;
  margin: 5px 5px;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
}

.table a {
  text-decoration: none;
  color: #3faace;
}

.topic-list{

}

.topic-row{
    width: 100%;
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {

}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
    font-size: 12px;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

.topic-name{
    width: 40%;
    max-width: 280px;
}

.topic-post-count {
    width: 10%;
    text-align: center;
}

.topic-view-count{
    width: 10%;
    text-align: center;
}

.topic-last-post{
    width: 32%;
    border-bottom: 1px solid #dddddd;
    padding-left: 17px;
    padding-bottom: 2px;
}

.latest_forum{
    width: auto;
    font-family: Calibri, sans-serif;
}

.latest_upper{

}

.latest_bottom{
    border-bottom: 1px solid #dddddd;
    padding-left: 17px;
    padding-bottom: 2px;
}

.last_topic{
    border: none;
}

.first_topic{
    margin-top: 2px;
}

.topic-name-first{
    width: 40%;
    padding-left: 17px;
    padding-bottom: 19px;
    font-size: 22px;
    text-align: center;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  font-size: 14px;
}

.logs {
    list-style: none;
    font-size: 14px;
    padding: 0;
}

.log_entity {
    flex-direction: row;
}

.log_name {
    text-align: left;
    align-self: center;
    padding: 2px 5px 2px 5px;
}

.log_name a{
    text-decoration: none;
    color: #3faace;
}

.log_date {
    text-align: left;
    align-self: center;
    font-size: 14px;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    padding: 0 17px 2px 17px;
}

.apply_button {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
}

.apply_button a {
    border: 1px solid buttonface;
    color: #000000;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 0 1px 0 rgba(47, 50, 50, 0.92);
    -moz-box-shadow:    0 0 1px 0 rgba(47, 50, 50, 0.92);
     box-shadow: 0 0 1px 0 rgba(47, 50, 50, 0.92);


    background: #fdfdfd;
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#dcdcdc 100%);
    background: -o-linear-gradient(top,  #fdfdfd 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom,  #fdfdfd 0%, #dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#efefef',GradientType=0 );


}

.apply_button a:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(47, 50, 50, 0.92);
    -moz-box-shadow:    0 0 2px 0 rgba(47, 50, 50, 0.92);
     box-shadow: 0 0 2px 0 rgba(47, 50, 50, 0.92);
}

.realm_status {
    align-self: center;
    padding-top: 5px;
    display: inline-block;
}

.realm_status_up {
    background: url("images/status.gif") no-repeat scroll 0px 0px transparent;
    background-position: -110px 0px;
    margin: 0px auto;
    height: 28px;
    width: 27px;
}

.realm_status_down {
    background: url("images/status.gif") no-repeat scroll 0px 0px transparent;
    margin: 0px auto;
    height: 28px;
    width: 27px;
}

.realm_name {
    font-size: 16px;
}

.footer_table {
    font-size: 16px;
}

#edit_form {
    padding: 10px 17px 10px 17px;
    border-top: 1px solid rgba(166, 166, 166, 0.40);
}

.show_article {
    text-align: justify;
    font-size:16px;
    color:#525253;
	line-height:150%;
    padding-left: 17px;
    padding-right: 17px;
}

#article_edit_button {

}

.article_buttons{
    margin-top: 10px;
}

.chatterbox {

}

.chatterbox_archive{
    width: 100%;
    margin: 10px 17px;
    height: 100%;
    background-color: white;
}

.chatterbox_form_container {

}

.chatterbox_form_input {
    padding-left: 17px;
    padding-right: 17px;
}

.chatterbox_form_input input[type=text], .chatterbox_form_input textarea {
    outline: none;
    border: 1px solid #DDDDDD;
    -moz-transition: none 0s ease 0s;
    width: 240px;
    height: 32px;
    resize: none;
    padding: 0;
    padding: 3px 0 3px 7px;
    border-radius: 2px;
}

.chatterbox_form_input input[type=text]:focus, .chatterbox_form_input textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.chat_author {
    padding-left: 5px;
    font-size: 14px;
}

.chat_author a{
    text-decoration: none;
    color: #3faace;
}

.chatterbox_form {
    padding-top: 10px;
}

.chatterbox_form_button {
    margin-top: 5px;
    padding-left: 17px;
}

.chat_line {
    padding: 5px 3px 5px 3px;
}

.chat_line_last{
    padding: 5px 0 5px 3px;
}

.chat_delete {
    font-size: 11px;
    margin-left: 5px;
}

.chat_delete a {
    text-decoration: none;
    color: #3faace;
}

.chat_delete a:hover {
    cursor: pointer;
}

.chat_body {
    margin-top: 0;
    word-wrap: break-word;
    padding: 1px 5px 3px 10px;
    font-size: 14px;
    line-height: 99%;
}

.chat_body a{
    text-decoration: none;
}

.chat_body a:visited{
    color: #0a6aff;
}

.author_container{
    display: flex;
    background: #eee;
    border: 1px solid rgba(166, 166, 166, 0.40);
    padding: 2px 0 2px 2px;
    margin: 0 5px 0 5px;
}

.submit_button {
    border: 1px solid darkgray;
    color: #000000;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    /*border-radius: 3px;*/

    text-transform: uppercase;
    font-size: 13px;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#dcdcdc 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#efefef',GradientType=0 );
    font-family: Calibri, sans-serif;
}

.submit_button:hover {
    color: #3faace;
    cursor: pointer;
}

.application_wrapper {
    padding-left: 17px;
    padding-right: 17px;
    text-align: justify;
}

.application_wrapper a{
    text-decoration: none;
    color: #3FAACE;
}

.comments {
    text-align: justify;
    margin-top: 10px;
}

.comments a{
    text-decoration: none;
    color: #3FAACE;
}

.comment_statement {
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

.comment{
    width: 100%;
    background: white;
    margin-left: 17px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
}

.comment_author {
    padding: 5px 17px 0px 17px;
    background: #eee;
    border: 1px solid rgba(166, 166, 166, 0.40);
    padding: 2px 0 2px 2px;
    margin: 5px;
}

.comment_avatar{
    width: 16px;
    height: 16px;
}

.comment_body {
    padding: 1px 17px 10px 17px;
    margin-top: 0;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 99%;
}

.comment_form_container {
    padding: 5px 0 5px 0;
}

.comment_delete {
    padding: 0 17px 0px 5px;
    font-size: 11px;
    padding-bottom: 5px;
}

.comment_delete a {
    text-decoration: none;
    color: #3faace;
}

.comment_delete a:hover{
    cursor: pointer;
}

.comment_form_button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.comment_log_in {
    padding: 10px 17px 10px 114px;
    font-style: italic;
}

.no_comm{
    padding: 10px 17px 10px 17px;
}

.comment_log_in a{
    text-decoration: none;
    color: #3FAACE;
}

.comment_no_comments {
    padding: 0 17px 5px 17px;
    font-style: italic;
}

.comment_container {
    display: flex;
    padding: 5px 0 5px 0;
}

.chat_log_in {
    padding: 10px 17px 0 17px;
    font-style: italic;
}

.chat_log_in a{
    text-decoration: none;
    color: #3FAACE;
}

.calculator {

}

.calculator input[type=number]{
    outline: none;
    border: 1px solid #DDDDDD;
}

.calculator input[type=number]:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.calc_row{
    padding: 0 5px;
    display: flex;
}

.calc_left {
    flex-grow: 1;
}

.calc_right {
    position:relative;
}
.calc_right span {
    position: absolute; right: 20px; top:0px;
}

.token_div {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
}

.token_timestamp{
    flex-grow: 1;
}

.roster{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    text-align: center;
    margin: 10px 17px 10px 17px;
    width: 1106px;
}

.roster tbody{
    font-size: 15px;
}

.roster a{
    text-decoration: none;
}

.roster a:visited{
    text-decoration: none;
    color: #0a6aff;
}

.roster tr:nth-child(even){
    background-color: #e1e1e1;
}

.roster_search{
    outline: none;
    border: 1px solid #DDDDDD;
    resize: none;
    margin: 5px 17px 5px 17px;
    padding: 2px 3px;
}

.roster_search:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}


.tr_title{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.tr_title a{
    padding-top: 10px;
    padding-bottom: 10px;
}

.tr_title a{
    text-decoration: none;
    display:block;
    color: black;
    font-weight: bold;
}

.tr_title a:visited{
    color: black;
}

.tr_title th{

}

.td_thumbnail{
    width: 50px;
}

.td_name{
    width: 15%;
    padding-left: 50px;
}

.td_level{
    width: 12%;
}

.td_ilevel{
    width: 13%;
}

.td_spec{
    width: 17%;
}

.td_class{
    width: 14%;
}

.td_rank{
    width: 14%;
}

.td_timestamp{
    width: 20%;
}

.raid_progress_wrapper{
    margin: 0 17px 0 17px;
}

.raid_progress_wrapper h3{
    margin: 0 0 0 0;
    height: 75px;
}

.raid{
    width: 249px;
    height: 75px;
    background-size: cover;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.first_raid{
    margin-top: 0;
}

.raid:hover{
    cursor: pointer;
}

.raid img{
    width: 400px;
    height: 225px;
    margin: -65px 0 0 -93px;
}

.ui-state-focus:focus { outline: none !important }

.raid_info{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 249px;
    height: 75px;
}

.upper_raid{
    padding: 20px 0 0 0;
}

.bottom_raid{
    display: flex;
    flex-direction: row;
}

.raid_name{
    flex-grow: 1;
    padding: 0 0 0 10px;
    font-size: 110%;
}

.raid_difficulty{
    padding: 0 0 0 10px;
    font-size: 80%;
}

.raid_defeated{
    padding: 0 10px 0 0;
    font-size: 120%;
    font-weight: bold;
}

.boss_names{
    display: flex;
}

.boss_name{
    flex-grow: 1;
}

.login_remember{
    font-size: 13px;
    margin-bottom: 2px;
    display: inline;
}

.login_username input[type=text], .login_password input[type=password]{
    width: 80px;
    height: 14px;
    border: 1px solid #DDDDDD;
    font: 13px Arial;
}

.login_username input[type=text]:focus, .login_password input[type=password]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.account_header{
    position: relative;
    font-size: 15px;
    margin: 0 17px 0 17px;
    height: 25%;
    text-align: right;
}

.account_header input[type=submit]{
    border: none;
    background: inherit;
    text-decoration: none;
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 15px;
    margin-left: 5px;
    outline: none;
}

.account_header input[type=submit]:hover{
    cursor: pointer;
}

.account_header span{
    margin-left: 5px;
}

.chat_archive {
    font-size: 11px;
    margin-left: 5px;
    margin: 5px 5px 5px 8px;
}

.chat_archive a {
    text-decoration: none;
    color: #3faace;
}


/*.highmaul_raid{*/
    /*background: black url("images/highmaul.jpg") no-repeat center;*/
/*}*/

/*.foundry_raid{*/
    /*background: black url("images/foundry.jpg") no-repeat center;*/
/*}*/

/*.citadel_raid{*/
    /*background: black url("images/hellfire_citadel.jpg") no-repeat center;*/
/*}*/

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        /*-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);*/
        -webkit-transform 0.2s linear;
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        /*-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);*/
        -moz-transform 0.2s linear;
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        /*transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);*/
        transform 0.2s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  /*background-color: hsla(0, 0%, 20%, 0.9);*/
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}


/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}