li a{
    color: green;
}

html {
    height: 100%;
}

.element {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

@media screen and (max-width: 1920px){
    body {
        background: black url("images/Illidan1920.jpg") no-repeat top fixed;
    }
}
@media screen and (min-width: 1921px){
    body {
        background: black url("images/Illidan2560.jpg") no-repeat top fixed;
    }
}

a:link {
    color: #0a6aff;
}

a:visited {
    color: #ff455c;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    /*border: 1px solid magenta;*/
    text-align: center;
    flex-direction: column;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Calibri, sans-serif;
    /*opacity: 0.95;*/
    opacity: 1;
    /*border-collapse: collapse;*/
}

.header {
    height: 80px;
    width: 1140px;
    clear: left;
    align-self: center;
    margin-bottom: 5px;
    background: whitesmoke;
    /*border: 1px solid rgba(166, 166, 166, 0.40);*/
    /*opacity: 0.95;*/
    border-radius: 6px;
}

.header_text {
    font-weight: bold;
    font-size: 30px;
    margin-top: 22px;
}

.header a{
    text-decoration: none;
    color: black;
}

.header p {

}

.footer {
    /*border: 1px solid gray;*/
    height: 80px;
    width: 1140px;
    align-self: center;
    /*background: #f5f5f5;*/
    background: whitesmoke;
    /*border-left: 1px solid rgba(166, 166, 166, 0.40);
    border-right: 1px solid rgba(166, 166, 166, 0.40);
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);*/
    /*padding-top: 20px;*/
    /*opacity: 0.95;*/
    /*border-bottom-left-radius: 6px;*/
    /*border-bottom-right-radius: 6px;*/
}

.footer_div {
    /*padding: 5px;*/
    font-size: 16px;
    /*opacity: 0.95;*/
}

.content {
    flex: 1;
    /*border: 1px solid red;*/
    width: 1140px;
    align-self: center;
    text-align: left;
    display: flex;
    flex-direction: row;
    /*background: #f5f5f5;*/
    background: whitesmoke;
    /*border: 1px solid rgba(166, 166, 166, 0.40);*/
    border-bottom: none;
    /*opacity: 0.95;*/
}

.article_wrapper {
    /*border: 1px solid crimson;*/

    flex-direction: column;
}

.article_thumbnail {

}

.article_body{
    line-height: 100%;
}

/*Articles page articles*/
.article_wrapper_articles {
    /*border: 1px solid crimson;*/
    width: 1140px;
    flex-direction: column;
}

.article {
    /*border: 1px solid #e855ff;*/

    text-align: justify;

    font-size:16px;
    color:#525253;
	line-height:150%;

    /*border: 1px solid rgba(166, 166, 166, 0.90);*/
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    padding-left: 17px;
    padding-right: 17px;
}

.article_title {
    text-align: justify;
    font-size: 40px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    margin-bottom: 5px;
}

.article_title a {
    text-decoration: none;
    color: black;
}

.article_author {
    font-size: 15px;
}

.article_author a{
    text-decoration: none;
    color: #3FAACE;
}

.article_thumbnail {

}

.article_body{

}

.comment_count {
    font-size: 13px;
    text-align: right;
}

.comment_count a{
    text-decoration: underline;
    color: #525253;
}

.comment_count :hover{
    color: #3FAACE;
}

/**/

.sidebar {
    /*border: 1px solid cornflowerblue;*/
    display: flex;
    flex-direction: column;
    width: 283px;
    /*border-left: 1px solid rgba(166, 166, 166, 0.40);*/
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
}

.sidebar_statement {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    background: #f5f5f5;
    padding: 5px;
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 22px;
}

.recruitment {
    background: #f5f5f5;
    /*border: 1px solid black;*/
    display: flex;
    list-style: none;
    flex-direction: column;
    /*border-bottom: 1px solid rgba(166, 166, 166, 0.40);*/
    /*margin-top: 13px;*/
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

.class_entity {
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 2px 17px 2px 17px;
}

.class_name {
    -webkit-transition: all 1.05s ease-in-out;
    -moz-transition: all 1.05s ease-in-out;
    -ms-transition: all 1.05s ease-in-out;
    -o-transition: all 1.05s ease-in-out;

    text-align: left;
    align-self: center;
    flex-grow: 1;
}
/*
.wrapper .content .sidebar .recruitment .class_entity .class_name:hover {
    text-shadow: 0 0 0.2em #F87;
}
*/
.class_role {
    -webkit-transition: all 1.05s ease-in-out;
    -moz-transition: all 1.05s ease-in-out;
    -ms-transition: all 1.05s ease-in-out;
    -o-transition: all 1.05s ease-in-out;

    text-align: right;
    align-self: center;
    padding-left: 5px;
    /*width: 65px;*/
}

.not_needed {
    opacity: 0.15;
}

.class_role:hover {
    /*text-shadow: 0 0 0.2em #F87;*/
    /*transform: rotate(360deg);*/
}

.navigation {
    margin-top: 40px;
    width: 1140px;
    align-self: center;
    list-style: none;
    /*background: deepskyblue;*/
    background: #f5f5f5;
    display: flex;
    justify-content: flex-end;
    /*border-top: 1px solid rgba(166, 166, 166, 0.40);
    border-right: 1px solid rgba(166, 166, 166, 0.40);
    border-left: 1px solid rgba(166, 166, 166, 0.40);*/
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    /*opacity: 0.95;*/
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    border-left: 1px solid rgba(166, 166, 166, 0.40);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.5s;
    width: 60px;
    font-size: 18px;
    padding: 10px;
}

.forum_link{
    border-radius: 0 10px 0 0;
}

.in_menu {
    color: black;
    font-size: 18px;
    padding: 10px;
    width: 300px;
    text-align: right;
}

.navigation a:hover {
    background: #e0e0e0;
    /*text-shadow: 0 0 1px red;*/
}

.pagination {
    width: 1140px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    list-style: none;
    background: #f5f5f5;
    /*border-left: 1px solid rgba(166, 166, 166, 0.40);
    border-right: 1px solid rgba(166, 166, 166, 0.40);*/
    /*opacity: 0.95;*/
    border-top: 1px solid rgba(166, 166, 166, 0.40);
    margin-top: -1px;
}

.pagination .page a {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    color: #000000;
}

.page a:hover {
    text-decoration: underline;
}

.current {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
    color: green;
}

.form_container {
    display: flex;
    flex-direction: column;
    width: 1120px;
    /*margin: 10px;*/
    padding: 10px;
    /*border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    max-height: 450px;*/
}

.form_container .form_name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_button {
    margin-top: 20px;
}

.form_container .form_error {

}

.form_input input[type=text], .form_input textarea {
    -webkit-transition: all 0.00s ease-in-out;
    -moz-transition: all 0.00s ease-in-out;
    -ms-transition: all 0.00s ease-in-out;
    -o-transition: all 0.00s ease-in-out;
    outline: none;
    padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid #DDDDDD;
    -moz-transition: none 0s ease 0s;
    max-width: 99.5%;
    max-height: 1000px;
    /*width: 99.5%;*/
    font-family: monospace;
}

.form_input input[type=text]:focus, .form_input textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid rgba(81, 203, 238, 1);
    max-width: 99.5%;
    max-height: 1000px;
    /*width: 99.5%;*/
}

.form_input #id_title {
    width: 250px;
}

.not_found {
    padding: 10px;
}

.topic-unread .state-indicator, .forum-unread .state-indicator {
  /*background-color: #5bc0de;*/
  background-color: #3FAACE;
}
.state-indicator {
  display: block;
  float: left;
  background-color: #eeeeee;
  height: 10px;
  width: 10px;
  border-radius: 4px;
  margin: 5px 5px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table a {
  text-decoration: none;
  color: #3faace;
}

.topic-list{
    /*border: 1px solid rgba(166, 166, 166, 0.40);*/
}

.topic-row{
    width: 100%;
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {

}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
    font-size: 12px;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

.topic-name{
    width: 40%;
    max-width: 280px;
}

.topic-post-count {
    width: 10%;
    text-align: center;
}

.topic-view-count{
    width: 10%;
    text-align: center;
}

.topic-last-post{
    width: 32%;
    border-bottom: 1px solid #dddddd;
    padding-left: 17px;
}

.content_wrapper{
    border-right: 1px solid rgba(166, 166, 166, 0.40);
    width: 857px;

}

.latest_forum{
    /*width: 275px;*/
    width: auto;
    font-family: Calibri, sans-serif;
    /*margin-top: 10px;*/
}

.topic-name-first{
    width: 40%;
    padding-left: 17px;
    padding-bottom: 19px;
    font-size: 22px;
    text-align: center;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  font-size: 14px;
}

.logs {
    background: #f5f5f5;
    /*border: 1px solid black;*/
    list-style: none;
    /*margin-top: 13px;*/
    font-family: Calibri, sans-serif;
    font-size: 14px;
}

.log_entity {
    flex-direction: row;
}

.log_name {
    text-align: left;
    align-self: center;
    padding-left: 17px;
    padding-right: 17px;
}

.log_name a{
    text-decoration: none;
    color: #3faace;
}

.log_date {
    text-align: left;
    align-self: center;
    font-size: 14px;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    padding-left: 17px;
    padding-right: 17px;
}

.apply_button {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    padding-bottom: 15px;
    padding-top: 15px;
}

.apply_button a {
    border: 1px solid buttonface;
    color: #000000;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    /*border-radius: 3px;*/
    /*-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;*/
    text-transform: uppercase;
    font-size: 13px;
    /*font-weight: bold;*/

    /*-moz-box-shadow: 1px 1px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,1);
    box-shadow: 1px 1px 5px rgba(0,0,0,1);*/

    -webkit-box-shadow: 0 0 1px 0 rgba(47, 50, 50, 0.92);
    -moz-box-shadow:    0 0 1px 0 rgba(47, 50, 50, 0.92);
     box-shadow: 0 0 1px 0 rgba(47, 50, 50, 0.92);


    background: #fdfdfd;
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#dcdcdc 100%);
    background: -o-linear-gradient(top,  #fdfdfd 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom,  #fdfdfd 0%, #dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#efefef',GradientType=0 );


}

.apply_button a:hover {
    /*background: #fdfdfd;*/
    /*text-shadow: 0 0 1px #3faace;*/
    /*color: #3faace;*/
    -webkit-box-shadow: 0 0 2px 0 rgba(47, 50, 50, 0.92);
    -moz-box-shadow:    0 0 2px 0 rgba(47, 50, 50, 0.92);
     box-shadow: 0 0 2px 0 rgba(47, 50, 50, 0.92);
}

.realm_status {
    /*margin-top: 13px;*/
    align-self: center;
    padding-top: 5px;
    display: inline-block;
}

.realm_status_up {
    background: url("images/status.gif") no-repeat scroll 0px 0px transparent;
    background-position: -110px 0px;
    margin: 0px auto;
    height: 28px;
    width: 27px;
}

.realm_status_down {
    background: url("images/status.gif") no-repeat scroll 0px 0px transparent;
    margin: 0px auto;
    height: 28px;
    width: 27px;
}

.realm_name {
    font-size: 16px;
}

.footer_table {
    font-size: 16px;
}

#edit_form {
    padding: 10px 17px 10px 17px;
    border-top: 1px solid rgba(166, 166, 166, 0.40);
}

.show_article {
    text-align: justify;
    font-size:16px;
    color:#525253;
	line-height:150%;
    padding-left: 17px;
    padding-right: 17px;
}

#article_edit_button {
    margin-bottom: 10px;
    margin-left: 17px;
}

.chatterbox {
    border: 1px solid rgba(165, 165, 165, 0.4);
    border-bottom: none;
    margin: 0 17px 0 17px;
    /*background-color: rgb(255, 255, 255);*/
    background-color: whitesmoke;
    /*box-shadow: 1px 1px 1px rgb(189, 189, 189);*/
    /*box-shadow: 2px 2px 2px black;*/
}

.chatterbox_form_container {

}

.chatterbox_form_input {
    padding-left: 17px;
    padding-right: 17px;
}

.chatterbox_form_input input[type=text], .chatterbox_form_input textarea {
    outline: none;
    border: 1px solid #DDDDDD;
    -moz-transition: none 0s ease 0s;
    width: 240px;
    height: 32px;
    resize: none;
    padding: 0;
    padding: 3px 0 3px 7px;
    /*box-shadow: 1px 1px 1px rgb(189, 189, 189);*/
    /*border: 1px outset rgba(165, 165, 165, 0.4);*/
}

.chatterbox_form_input input[type=text]:focus, .chatterbox_form_input textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    /*padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    max-width: 99.5%;
    max-height: 1000px;*/
}

.chat_author {
    padding-left: 5px;
    font-size: 14px;
}

.chat_author a{
    text-decoration: none;
    color: #3faace;
}

.chatterbox_form {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
}

.chatterbox_form_button {
    margin-top: 5px;
    padding-left: 17px;
}

.chat_line {
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
    padding: 5px 3px 5px 3px;
}

.chat_line_last{
    padding: 5px 3px 5px 3px;
}

.chat_delete {
    font-size: 11px;
}

.chat_delete a {
    text-decoration: none;
    color: #3faace;
}

.chat_body {
    /*overflow: auto;*/
    margin-top: 0;
    word-wrap: break-word;
    padding: 1px 0 3px 4px;
    font-size: 14px;
    line-height: 99%;
}

.chat_body a{
    text-decoration: none;
}

.chat_body a:visited{
    color: #0a6aff;
}

.author_container{
    display: flex;
}

.submit_button {
    border: 1px solid darkgray;
    color: #000000;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    /*border-radius: 3px;*/

    text-transform: uppercase;
    font-size: 13px;
    /* font-weight: bold; */
    /*-webkit-box-shadow: 0 0 1px 0 rgba(47, 50, 50, 0.92);
    -moz-box-shadow: 0 0 1px 0 rgba(47, 50, 50, 0.92);
    box-shadow: 0 0 1px 0 rgba(47, 50, 50, 0.92);*/
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#dcdcdc 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#efefef',GradientType=0 );
    font-family: Calibri, sans-serif;
}

.submit_button:hover {
    color: #3faace;
    cursor: pointer;
}

.application_wrapper {
    padding-left: 17px;
    padding-right: 17px;
    text-align: justify;
}

.application_wrapper a{
    text-decoration: none;
    color: #3FAACE;
}

.comments {
    /*border-top: 1px solid rgba(166, 166, 166, 0.40);*/

    text-align: justify;
}

.comments a{
    text-decoration: none;
    color: #3FAACE;
}

.comment_statement {
    padding: 0 17px 10px 17px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

.comment_author {
    padding: 5px 17px 0px 17px;
    /*border-top: 1px solid rgba(166, 166, 166, 0.40);*/
}

.comment_body {
    padding: 1px 17px 5px 21px;
    margin-top: 0;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 99%;
}

.comment_form_container {
    padding: 10px 17px 5px 17px;
    /*border-top: 1px solid rgba(166, 166, 166, 0.40);*/
}

.comment_delete {
    padding: 0 17px 0px 17px;
    font-size: 11px;
    padding-bottom: 5px;
}

.comment_delete a {
    text-decoration: none;
    color: #3faace;
}

.comment_form_button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.comment_log_in {
    padding: 10px 17px 10px 17px;
    font-style: italic;
}

.comment_log_in a{
    text-decoration: none;
    color: #3FAACE;
}

.comment_no_comments {
    padding: 0 17px 5px 17px;
    font-style: italic;
}

.comment_container {
    display: flex;
    padding: 5px 17px 5px 17px;
    border-top: 1px solid rgba(166, 166, 166, 0.40);
}

.chat_log_in {
    padding: 10px 17px 10px 17px;
    font-style: italic;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
}

.chat_log_in a{
    text-decoration: none;
    color: #3FAACE;
}

.calculator {
    padding: 10px 17px 10px 17px;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
}

.calculator input[type=number]{
    outline: none;
    border: 1px solid #DDDDDD;
}

.calculator input[type=number]:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.calc1 {
    display: flex;
}

.calc2 {
    flex-grow: 1;
}

.calc3 {
    position:relative;
}
.calc3 span {
    position: absolute; right: 20px; top:0px;
}

.token_div {
    display: flex;
    flex-direction: row;
    padding: 10px 17px 10px 17px;
    font-size: 15px;
    border-bottom: 1px solid rgba(166, 166, 166, 0.40);
}

.token_timestamp{
    flex-grow: 1;
}

.roster{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    text-align: center;
    margin: 10px 17px 10px 17px;
    width: 1106px;
}

.roster tbody{
    font-size: 15px;
}

.roster a{
    text-decoration: none;
}

.roster a:visited{
    text-decoration: none;
    color: #0a6aff;
}

.roster tr:nth-child(even){
    background-color: #e1e1e1;
}

.roster_search{
    outline: none;
    border: 1px solid #DDDDDD;
    /*width: 244px;*/
    resize: none;
    margin: 5px 17px 5px 17px;
    padding: 2px 3px;
}

.roster_search:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}


.tr_title{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.tr_title a{
    padding-top: 10px;
    padding-bottom: 10px;
}

.tr_title a{
    text-decoration: none;
    display:block;
    color: black;
    font-weight: bold;
}

.tr_title a:visited{
    color: black;
}

.tr_title th{

}

.td_thumbnail{
    width: 50px;
}

.td_name{
    width: 15%;
    padding-left: 50px;
}

.td_level{
    width: 12%;
}

.td_ilevel{
    width: 13%;
}

.td_spec{
    width: 17%;
}

.td_class{
    width: 14%;
}

.td_rank{
    width: 14%;
}

.td_timestamp{
    width: 20%;
}


/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        /*-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);*/
        -webkit-transform 0.2s linear;
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        /*-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);*/
        -moz-transform 0.2s linear;
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        /*transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);*/
        transform 0.2s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  /*background-color: hsla(0, 0%, 20%, 0.9);*/
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}


/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}